<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/public/css/eunwoo_style.css">
    <link rel="stylesheet" href="/public/css/yubin_sidebar.css">
    <link rel="stylesheet" href="/public/css/yubin_chatbot.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../public/js/chatbot_script.js"></script>

</head>

<body>
    <div id="main_container">
        <nav id="main_navbar">
            <div class="main_navLeft">
                <div id="sidebar_toggle">
                    <input type="checkbox" />
                    <span></span>
                    <span></span>
                    <span></span>
                    <ul id="leftside">
                    <!-- db연결시 바꿀예정 -->
                        <a><li>닉네임</li></a>
                        <a><li>회원정보</li></a>
                        <a><li>정보</li></a>
                        <a href="#"><li>구독</li></a>
                        
                      </ul>
                </div>
                <div class="main_nav_logo">
                    <a href="#">NDB</a>
                </div>
                
            </div>
            <div class="main_navRight">
                <ul class="popularSerch">
                    <li>
                        <span>인기 검색어</span>
                    </li>
                    <li>|</li>
                    <li>
                        <a href="#">파이썬 반복문</a>
                    </li>
                </ul>
                <div id="main_btnWrap">
                    <!-- 로그인 버튼 -->
                    <button type="button" class="main_loginBtn main_modalBtn">로그인</button>
                    <!-- 회원가입 버튼 -->
                    <button type="button" class="main_signupBtn main_modalBtn">회원가입</button>
                </div>
            </div>
        </nav>
        <div id="main_modalWrap">
            <div id="main_modalContent">
                <div id="main_modalBody">
                    <!-- 닫기 버튼 -->
                    <span id="main_closeBtn">&times;</span>
                    <!-- 팝업창 내 글귀 -->
                    <p>modal-popup 입니다.</p>
                </div>
            </div>
        </div>
        <div class="main_wrap">
            <!-- 검색창 -->
            <div class="main_searchWrap">
                <div class="main_text">
                    <p>
                        언어를 설정한 후 </br>배우고 싶은 부분을 집중 성장 시켜보세요.
                    </p>
                </div>
                <!-- [230802_예정]flex basis로 최적화 예정(현재는 width, px로 강제 지정) -->
                <div class="main_search">
                    <select name="main_language" id="" class="main_searchLanguage" style="width:50px;height:30px;">
                        <option value="html">html</option>
                        <option value="java">java</option>
                        <option value="css">css</option>
                        <option value="javascript">javascript</option>
                    </select>
                    <!-- <i class="fa-solid fa-chevron-down" style="color: #d1d1d1;"></i> -->
                    <input type="text" class="main_searchBar" name="main_searchBar_Name">
                    <!-- 자동완성 단어 리스트 -->
                    <div class="main_autocomplete"></div>
                    <button type="submit" class="main_search_button">
                        <i class="fa-solid fa-magnifying-glass" style="color: #d1d1d1;"></i>
                    </button>
                </div>
                <!-- 검색창 아래 태그 -->
                <!-- <div class="main_TagWrap">
                    사용자에게 추천하는 검색어 
                    <ul>
                        <li>반복문</li>
                        <li>if문</li>
                        <li>grid</li>
                    </ul>
                </div> -->
            </div>
        </div>
    </div>
    <div class="chat-toggle-button" onclick="toggleChat()">👀</div>

    <!-- 챗봇 대화창 컨테이너 -->
    <div class="chat-container" id="chat-container">
        <!-- 챗봇 헤더 -->
        <div class="chat-header" onclick="toggleChat()">NDB</div>

        <!-- 챗봇 몸체 -->
        <div class="chat-body">
            <!-- 챗봇 응답 메시지 (기본 환영 메시지) -->
            <div class="message bot-message">
                <div class="content">안녕하세요! 무엇을 도와드릴까요?</div>
            </div>
        </div>

        <!-- 사용자 입력창 -->
        <div class="chat-input">
            <input type="text" id="user-input" placeholder="메시지를 입력하세요" onkeydown="handleKeyDown(event)">
            <button onclick="sendMessage()">전송</button>
        </div>
    </div>

</body>

</html>