<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="/css/eunwoo_style.css">
    <link rel="stylesheet" href="/css/yubin_chatbot.css">
    <link rel="stylesheet" href="/css/yubin_sidebar.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/chatbot_script.js"></script>
    <script src="/js/index.js"></script>

</head>

<body>
    
    <div>
        <!-- 챗봇 -->
        <div class="chat-toggle-button" onclick="toggleChat()">👀</div>

        <!-- 챗봇 대화창 컨테이너 -->
        <div class="chat-container" id="chat-container">
            <!-- 챗봇 헤더 -->
          
            <div class="chat-header">
                <div class="header-title" onclick="toggleChat()">NDB</div>
                <button onclick="back()" id="back-button" style="display: none;">뒤로 가기</button>
            </div>
            <!-- 버튼 컨테이너 -->
            <div class="button-container" id="button-container">
                <p>안녕하세요.<br />
                    NDB입니다.<br />
                    무엇을 도와드릴까요?</p>
                <button onclick="openChat()">질문하기</button>
                <button onclick="openReview()">별점 리뷰하기</button>
            </div>
    
            <!-- 챗봇 몸체 -->
            <div class="chat-body" id="chat-body" style="display: none;">
                <!-- 챗봇 응답 메시지 (기본 환영 메시지) -->
                <div class="message bot-message">
                    <div class="content">질문을 입력해주세요!</div>
                </div>
            </div>
    
            <!-- 사용자 입력창 -->
            <div class="chat-input" id="chat-input" style="display: none;">
                <input type="text" id="user-input" placeholder="메시지를 입력하세요" onkeydown="handleKeyDown(event)">
                <button onclick="sendMessage()">전송</button>
            </div>
    
    <!-- 별점리뷰 -->
            <form class="mb-3" name="myform" id="myform" method="post" style="display: none;">
                <fieldset>
                    
                    <input type="radio" name="reviewStar" value="5" id="rate1"><label for="rate1">★</label>
                    <input type="radio" name="reviewStar" value="4" id="rate2"><label for="rate2">★</label>
                    <input type="radio" name="reviewStar" value="3" id="rate3"><label for="rate3">★</label>
                    <input type="radio" name="reviewStar" value="2" id="rate4"><label for="rate4">★</label>
                    <input type="radio" name="reviewStar" value="1" id="rate5"><label for="rate5">★</label>
                    <p class="text-bold">별점을 선택해주세요</p>
                </fieldset>
                <div class="button-wrapper">
                    <textarea id="reviewContents" name="reviewContents" placeholder="리뷰를 작성해주세요."></textarea>
                    <button class="reviewbutton"type="submit">리뷰 제출</button>
                </div>
            </form>
    </div>
    <div id="main_container">

        <div class="overlay"></div>
        

        <!-- 네비게이션 -->
        <!-- 왼쪽 : 사이드바 & 로그 -->

        <nav id="main_navbar">
            <div class="main_navLeft">

                <div id="sidebar_toggle">
                    <!--
                    클릭 수신기로 사용되는 가짜/숨겨진 체크박스,
                    이를 통해 :checked 선택자를 사용
                    -->
                    <input type="checkbox" />
                    
                    <!--
                    햄버거 역할을 하는 몇 개의 span 요소.
                    -->
                    <span></span>
                    <span></span>
                    <span></span>
                    
                    <!--
                      사이드바는 버튼 내부에 잇어야함
                    -->
                    <ul id="leftside">
                      
                      <a><li>닉네임</li></a>
                      <a><li>회원정보</li></a>
                      <a><li>정보</li></a>
                      <a href="#"><li>구독</li></a>
                      
                    </ul>
                  </div>
                <div class="main_nav_logo">
                    <a href="#">NDB</a>

                </div>
                <div class="main_navMiddle">
                    <form>
                        <div id="main_navSearchbar" class="main_search">
                            <select name="main_language" id="" class="main_searchLanguage"
                                style="width:50px;height:30px;">
                                <option value="html">html</option>
                                <option value="java">java</option>
                                <option value="css">css</option>
                                <option value="javascript">javascript</option>
                            </select>
                            <!-- <i class="fa-solid fa-chevron-down" style="color: #d1d1d1;"></i> -->
                            <input type="text" class="main_searchBar_Nav" name="main_searchBar_Name_Nav">
                            <!-- 자동완성 단어 리스트 -->
                            <div class="main_autocomplete"></div>
                            <button type="submit" class="main_search_button">
                                <i class="fa-solid fa-magnifying-glass" style="color: #d1d1d1;"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="main_navRight">
                <ul class="popularSerch">
                    <li>
                        <span>인기 검색어</span>
                    </li>
                    <li>|</li>
                    <li>
                        <a href="#">파이썬 반복문</a>
                    </li>
                </ul>
                <div id="main_btnWrap">
                    <!-- 로그인 버튼 -->
                    <button type="button" class="main_loginBtn main_modalBtn">로그인</button>
                    <!-- 회원가입 버튼 -->
                    <button type="button" class="main_signupBtn main_modalBtn">회원가입</button>
                </div>
            </div>
        </nav>
        <!-- 메인 이미지 위치 조정을 위한 div -->
        <div class="main_position"></div>
        <div id="main_modalWrap">
            <div id="main_modalContent">
                <div id="main_modalBody">
                    <!-- 닫기 버튼 -->
                    <span id="main_closeBtn">&times;</span>
                    <!-- 팝업창 내 글귀 -->
                    <p>modal-popup 입니다.</p>
                </div>
            </div>
        </div>
        <!-- main페이지 -->
        <div class="main_wrap">
            <!-- 검색창 -->
            <!-- [230804] 검색창 요소별 크기 flex basis로 비율로 지정할 예정 -->
            <div class="main_searchWrap">
                <div class="main_text">
                    <p>
                        언어를 설정한 후 </br>배우고 싶은 부분을 집중 성장 시켜보세요.
                    </p>
                </div>
                <!-- [230802_예정]flex basis로 최적화 예정(현재는 width, px로 강제 지정) -->

                <form action="" class="main_search">
                    <select name="main_language" id="" class="main_searchLanguage" style="width:50px;height:30px;">
                        <option value="html">html</option>
                        <option value="java">java</option>
                        <option value="css">css</option>
                        <option value="javascript">javascript</option>
                    </select>
                    <!-- <i class="fa-solid fa-chevron-down" style="color: #d1d1d1;"></i> -->
                    <input type="text" class="main_searchBar" name="main_searchBar_Name" autofocus>
                    <!-- 자동완성 단어 리스트 -->
                    <div class="main_autocomplete"></div>
                    <button type="submit" class="main_search_button">
                        <i class="fa-solid fa-magnifying-glass" style="color: #d1d1d1;"></i>
                    </button>
                </form>

                <!-- 검색창 아래 태그 -->
                <!-- <div class="main_TagWrap">
                    사용자에게 추천하는 검색어 
                    <ul>
                        <li>반복문</li>
                        <li>if문</li>
                        <li>grid</li>
                    </ul>
                </div> -->
            </div>
        </div>
    </div>


    <div class="subs_modal">
        <div class="subs_modal_content">
           
       
            <div class="subs_header">
                <div ><h1 id="subs_title" >Member of NDB</h1></div>
                <div>
                    <button class="subs_button_close" >&times;</button>
                </div>

                <div >
                <p class="subs_subtitle">
                    학습 능률을 높이는 방법! <br />
                    "구독"으로 다양한 혜택을 누리세요! <br /><br>
                    For month
                </p>
                </div>
              
            </div> 

            <div class="subs_desc_content">
                <div class= "content1 content-box">
                    <div ><h3>Basic</h3></div>
                    <div class="subs_benefit">
                    <div class="subs_price" >￦0 </div>  
                    <ul class="subs_li">
                    <li>-&nbsp; 버전 업그레이드</li>
                    <li>-&nbsp; 테마 설정</li>
                    <li>-&nbsp; 예제에 대한 개념 정리</li>
                    <li>-&nbsp;</li>
                    <li>-&nbsp;</li>
                    <li>-&nbsp;</li>
                    <li>-&nbsp;</li>
                    </ul>
                    </div>

                   
                    <!-- <input type="email" placeholder="이메일 주소를 입력하세요."> -->
                    
                    <div class="subs_btn">
                        <button onclick="requestPay()">구독하기</button>
                    </div>
                </div>
                    
                


                <div class="content2 content-box">
                    <div><h3 >Standard</h3></div>
                    <div class="subs_benefit">
                    <div class="subs_price" >￦5000 </div> 
                    <ul class="subs_li">
                    <li>-&nbsp; 버전 업그레이드 </li>
                    <li>-&nbsp; 테마 설정 </li>
                    
                    <li>-&nbsp; 예제에 대한 개념 정리</li>
                    <li>-&nbsp; 배너 제거 </li>
                    <li>-&nbsp; 자사 커뮤니티 사이트 가입</li>
                    <li>-&nbsp; 추천 강의 20% 할인권</li>                    
                    <li>-&nbsp; </li>
                    </ul>
                    </div>
                    <!-- <input type="email" placeholder="이메일 주소를 입력하세요."> -->
                    <div class="subs_btn">
                        <button onclick="requestPay()">구독하기</button>
                    </div>

                </div>

                


                <div class="content3 content-box">
                   <div><h3 >PRO</h3></div> 
                   <div class="subs_benefit">
                    <div class="subs_price" >￦7000 </div>  
                    <ul class="subs_li">
                    <li>-&nbsp; 버전 업그레이드 </li>
                    <li>-&nbsp; 테마 설정 </li>
                    
                    <li>-&nbsp; 예제에 대한 개념 정리 </li>
                    <li>-&nbsp; 배너 제거 </li>
                    <li>-&nbsp; 자사 커뮤니티 사이트 가입</li>
                    
                    <li>-&nbsp; 추천 강의 40% 할인권</li>
                    <li>-&nbsp; 인기 문제&개념 모음집PDF </li>
                    </ul>
                    </div>
                    

                    <!-- <input type="email" placeholder="이메일 주소를 입력하세요."> -->
                    <div class="subs_btn">
                        <button onclick="requestPay1()">구독하기</button>
                    </div>
                </div>
            </div>
          
        </div>
        


        </div>

    <div class="main_Line"></div>
    <!-- 예제 출력 페이지 -->
    <div id="codeExam_container">
        <div class="codeExam_pageWrap">
            <!-- 예제 문제 설명 출력 -->
            <div class="codeExam_examWrap-Size">
                <div class="codeExam_examWrap">

                    <div class="codeExam_examContent">
                        <h2>최댓값과 최솟값</h2>
                        <hr>
                        <div class="codeExam_examDetail">
                            <p>문제 설명</p>
                            문자열 s에는 공백으로 구분된 숫자들이 저장되어 있습니다. str에 나타나는 숫자 중 최소값과 최대값을 찾아 이를 "(최소값) (최대값)"형태의 문자열을 반환하는
                            함수,
                            solution을 완성하세요.
                            예를들어 s가 "1 2 3 4"라면 "1 4"를 리턴하고, "-1 -2 -3 -4"라면 "-4 -1"을 리턴하면 됩니다.
                        </div>
                        <div class="codeExam_exam">
                            <p>제한 조건</p>
                            s에는 둘 이상의 정수가 공백으로 구분되어 있습니다.
                        </div>
                    </div>
                    <div class="codeExam_examFooter"></div>
                </div>
            </div>
            <!-- 예제 문제 코드 출력 -->
            <div class="codeExam_code_wrap">
                <div class="codeExam_boxes">
                    <div class="codeExam_boxesHide" draggable="true"></div>
                    <div class="codeExam_boxesSize">
                        <div id="html-box" class="codeExam_exambox codeExam_htmlBox">
                            <div class="codeExam_codePage">
                                <div id="codeExam_Language" class="codeExam_codeLanguage">Html</div>
                                <div class="codeExam_codeContent-Size">
                                    <div class="codeExam_codeContent">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="css-box" class="codeExam_exambox codeExam_cssBox">
                            <div class="codeExam_codePage">
                                <div id="codeExam_Language" class="codeExam_codeLanguage">Css</div>
                                <div class="codeExam_codeContent-Size">
                                    <div class="codeExam_codeContent"></div>
                                </div>
                            </div>
                        </div>
                        <div id="js-box" class="codeExam_exambox codeExam_jsBox">
                            <div class="codeExam_codePage">
                                <div id="codeExam_Language" class="codeExam_codeLanguage">JavaScript</div>
                                <div class="codeExam_codeContent-Size">
                                    <div class="codeExam_codeContent"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 코드 결과창 출력 _ frontend -->
                <div class="codeExam_resultContainer">
                    <div class="codeExam_resultSize">
                        <div class="codeExam_resultDiv">
                            <!-- <div style={dasdasd} class> -->
                                ""
                        </div>
                        <script>

                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

</body>


</html>