@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 챗봇 컨테이너 */
.chat-container {
    position: fixed; /* 화면에 고정되도록 설정 */
    bottom: 20px;
    right: 20px;
    width: 350px;
    background-color: #8CA9BF;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    display: none; /* 처음에 숨김 */
    transition: all 0.3s ease;
    margin-right: 40px;
    margin-bottom: 40px;
    border: #212121;
}

/* 챗봇 헤더 */
.chat-header {

    background-color: #212121;
    color: #ffffff;
    padding: 15px 50px 15px 15px; 
    /*top right bottom left*/
    font-weight: bold;
    border-radius: 10px 10px 0 0;
    cursor: pointer; /* 클릭 가능하도록 설정 */
}

/* 챗봇 몸체 */
.chat-body {
   height: 400px;
    padding: 30px;
    max-height: 400px;
    overflow-y: auto;

}

/* 대화 메시지 스타일 */
.message {
    margin: 10px 0;
    padding: 10px;
    border-radius: 8px;
}

/* 사용자 메시지 스타일 */
.user-message {
    background-color: #FFFFFF;
    color: #1B3455;
    text-align: right;
    margin-left: 35px;
}

/* 챗봇 메시지 스타일 */
.bot-message {

    background-color: #d0dee9;
    color: #212121;
}

/* 메시지 앞에 사용자와 챗봇 구분 아이콘 */
.user-message .content::before {
    content: "> ";
    font-weight: bold;
}

.bot-message .content::before {
    content: "AI: ";
    font-weight: bold;
}

/* 챗봇 입력창 */
.chat-input {
    display: flex;
    border-top: 1px solid #ddd;
}

.chat-input input[type="text"] {
    flex: 1;
    padding: 15px;
    border: none;
    outline: none;
    font-size: 14px;
}

.chat-input button {
    padding: 15px 20px;
    border: none;
    background-color: #D83B44;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
}

.chat-input button:hover {
    background-color: 8CA9BF;
}

/* 챗봇 열기/닫기 버튼 스타일 */
.chat-toggle-button {
    position: fixed; /* 화면에 고정되도록 설정 */
    bottom: 20px;
    right: 20px;
    width: 100px;
    height: 100px;
    background-color: #8CA9BF;
    color: #ffffff;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    font-size: 24px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-right: 40px;
    margin-bottom: 40px;

}

.chat-toggle-button:hover {
    background-color: #D83B44;
}

/* 챗봇 컨테이너가 열렸을 때 보이도록 설정 */
.chat-container.open {
    display: block;
}