@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700,900&display=swap');

* {
    font-family: 'Noto Sans KR', sans-serif;
    box-sizing: border-box;
}
body {
    font-weight: 300;
    /* margin: 0; */
    font-size: 15px;
    line-height: 1.6em;
    /* box-sizing: border-box; */

   
}

.modal{
    /* border: 1px solid black; */
    position: fixed;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -80%);
    opacity: 0;
    transition: 0.3s;
    z-index: 10000;
    
}
.modal.active {
    opacity: 1;
    transform:translate(-50%, -50%);
}
.modal-content{
    /* border: 1px solid black; */
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.247);
    width: 800px;
    
    /* display: flex; */
    overflow: hidden;
    background-color: #1B3455;
}
.modal-content > div {
    padding:  20px;
}
/* .photo{
    flex: 1;
    background: url(office.jpg) no-repeat center right;
    background-size: cover;
} */


.desc{
    flex: 2;
    text-align: center;
}
.btn-close {
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    border: none;
    outline:none;
    color: #ccc;
    font-size: 18px;
}



.btn-close:hover {
    color: #000;
}

.desc-header{

    font-size:larger;
    text-align: center;
    display:absolute;
    margin-right: 40px;
    color: #FFFFFF;
    
    
   
}
.desc-content{
    display:flex;
    justify-content: center;
}
/* .content1{
    margin-right:  20px;
}

.content2{
    margin-right:  20px;
} */

.content1{
    margin-right: 20px;
    background-color: #8CA9BF;
    border-radius: 8%;   
    padding: 0 4rem;
}


.content2{
    margin-right: 20px;
    background-color: #8CA9BF;
    border-radius: 8%;
    border-radius: 8%;
    padding: 0 4rem;
}


.content3{
    background-color: #8CA9BF;
    border-radius: 8%;
    border-radius: 8%;
    padding: 0 4rem;
}

.content1:hover{
    background-color:#FFFFFF;
    transform:  scale(1.1, 1.05) ;

}
.content2:hover{
    background-color:#FFFFFF;
    transform:  scale(1.1, 1.05) ;
}
.content3:hover{
    background-color:#FFFFFF;
    transform:  scale(1.1, 1.05) ;
}

.desc-content input[type=email] {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    padding: 7px;
    outline: none;
    border: 1px solid #ccc;
}
.desc-content input[type=email]::placeholder {
    color: #ccc;
}
.desc-content input[type=email]:focus::placeholder{
    opacity: 0;
}
.desc-content button {
    display: block;
    width: 100%;
    padding: 7px;
    background-color: rgb(212, 69, 97);
    color: #FFFFFF;
    border: none;
    outline: none;
}


.desc-content button:hover {
    background-color: rgb(211, 22, 60);
}
.overlay {
    /* border: 1px solid red; */
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.315);
    opacity: 0;
    transition: 0.3s;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    visibility: hidden;
}
.overlay.active {
    opacity: 1;
    visibility: visible;
}

@media (max-width:768px) {
    .modal-content {
        flex-direction: column;
        width: 360px;
    }
    .photo {
        flex-basis: 250px; 
    }
}
